In [ ]:
#Description:
#   Heroes of Pymoli Homework using Pandas Library and Jupyter Notebook. 
#   Returns multiple dataframes described by comments in each section.  
#
#Modification History:
#   DD-MMM-YYY  Author          Description
#   19-06-2019  Stacey Smith    INITIAL CREATION



#Written description of three observable trends based on the data:
#   1.  Men account for the most players and the highest number of total purchases.
#   2.  However, on average, men spend less per item.
#   3.  No one individual spent more than $19 total

In [1]:
#Dependencies

import pandas as pd
import numpy as np
import os

In [2]:
#Open data file and create dataframe

#curdir = os.getcwd()
#print(curdir)

path = "Resources/purchase_data.csv"
HOP_df = pd.read_csv(path, encoding="ISO-8859-1")

HOP_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
#Clean up the data if needed

HOP_df.count()
HOP_df.dtypes

o_HOP_df = HOP_df.rename(columns={'SN':'Screen Name'})

#o_HOP_df['Gender'].value_counts()

#o_HOP_df = o_HOP_df.dropna(how='any')

o_HOP_df.head(5)

,Purchase ID,Screen Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
#Player Count
#
#Total Number of Players ... based on the number of unique screen names

Total_Players = o_HOP_df['Screen Name'].nunique()
TP_df = pd.DataFrame({"Total Players": [Total_Players]})
TP_df

   Total Players
0            576

In [5]:
#Purchasing Analysis (Total)

#Number of Unique Items
Unique_Items = o_HOP_df['Item ID'].nunique()  

#Total Revenue
Total_PP = round(o_HOP_df['Price'].sum(),2)  

#Total Number of Purchases
Count_PP = o_HOP_df['Price'].count() 

#Average Purchase Price
Avg_PP = round(Total_PP/Count_PP,2)

In [6]:
#Summary report for the Purchasing Analysis

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


Purchasing_summary_df = pd.DataFrame({
    'No. of Unique Items': [Unique_Items],
    'Avg Purchase Price': [Avg_PP],
    'Total No. of Purchases': [Count_PP],
    'Total Revenue': [Total_PP]


})

Purchasing_summary_df

,No. of Unique Items,Avg Purchase Price,Total No. of Purchases,Total Revenue
0,183,3.05,780,2379.77

In [7]:
#Gender Demographics


#Create new df that removes all dupe screen names
g_o_HOP_df = o_HOP_df.drop_duplicates(subset='Screen Name')
g_o_HOP_df.head()


#Percentage and Count of Male Players
Male = g_o_HOP_df.loc[g_o_HOP_df['Gender'] == 'Male']  
Count_Male = Male['Item ID'].count()
Male_Pct = round(Count_Male/Total_Players *100,2)


#Percentage and Count of Female Players
Female = g_o_HOP_df.loc[g_o_HOP_df['Gender']=='Female']  
Count_Female = Female['Item ID'].count()
Female_Pct = round(Count_Female/Total_Players *100,2)


#Percentage and Count of Other / Non-Disclosed
Other =  g_o_HOP_df.loc[g_o_HOP_df['Gender']=='Other / Non-Disclosed']  
Count_Other = Other['Item ID'].count()
Other_Pct = round(Count_Other/Total_Players *100,2)

In [8]:
#Summary report for Gender Demographics

index = ["Male", "Female", "Other/Non-Disclosed"]

Gender_summary_df = pd.DataFrame({
    "Total Count": [Count_Male, Count_Female, Count_Other],
    "Percentage of Players": [Male_Pct, Female_Pct, Other_Pct]

},index=index)

Gender_summary_df

                     Total Count  Percentage of Players
Male                         484                  84.03
Female                        81                  14.06
Other/Non-Disclosed           11                   1.91

In [9]:
#Purchasing Analysis (Gender)
#
#The below each broken by gender
#
#Purchase Count 
#Average Purchase Price
#Total Purchase Value 
#Average Purchase Total per Person by Gender 

#g_o_HOP_df.head()

#Using the original df, everyone with "Male" in Gender
Male_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Male']

#Total purchases
Male_TP = Male_P['Purchase ID'].count() 

#Sum of all purchases
Male_TPrice = Male_P['Price'].sum()

#Number of items purchased
Male_TItem = Male_P['Item ID'].count()  

#Using the df with gender duplicates removed, the sum of all purchases
Male_U_Sum = Male['Price'].sum()  



Female_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Female']
Female_TP = Female_P['Purchase ID'].count()
Female_TPrice = Female_P['Price'].sum()
Female_TItem = Female_P['Item ID'].count()
Female_U_Sum = Female['Price'].sum()


Other_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Other / Non-Disclosed']
Other_TP = Other_P['Purchase ID'].count()
Other_TPrice = Other_P['Price'].sum()
Other_TItem = Other_P['Item ID'].count()
Other_U_Sum = Other['Price'].sum()


Male_Avg = round(Male_TPrice/Male_TP,2)
M_AvgTotal_PPP = round(Male_TPrice/Count_Male,2)

Female_Avg = round(Female_TPrice/Female_TP,2)
F_AvgTotal_PPP = round(Female_TPrice/Count_Female,2)

Other_Avg = round(Other_TPrice/Other_TP,2)
O_AvgTotal_PPP = round(Other_TPrice/Count_Other,2)

In [10]:
#Summary report for Purchasing Analysis (Gender)

#The below each broken by gender
#
#Purchase Count 
#Average Purchase Price 
#Total Purchase Value 
#Average Purchase Total per Person by Gender 


index = ["Male", "Female", "Other/Non-Disclosed"]

Purchasing_summary_df = pd.DataFrame({
    
    "Purchase Count": [Male_TP, Female_TP, Other_TP], 
    "Average Purchase Price": [Male_Avg, Female_Avg, Other_Avg],
    "Total Purchase Value": [Male_TPrice, Female_TPrice, Other_TPrice],
    "Average Purchase Total per Person by Gender":[M_AvgTotal_PPP, F_AvgTotal_PPP, O_AvgTotal_PPP]


    },index=index)

#Format all the columns
Purchasing_summary_df['Average Purchase Price'] = Purchasing_summary_df['Average Purchase Price'].map("${:,.2f}".format)
Purchasing_summary_df['Total Purchase Value'] = Purchasing_summary_df['Total Purchase Value'].map("${:,.2f}".format)
Purchasing_summary_df['Average Purchase Total per Person by Gender'] = Purchasing_summary_df['Average Purchase Total per Person by Gender'].map("${:,.2f}".format)


Purchasing_summary_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Gender
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,"$1,967.64",$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

In [11]:
#Age Demographics
#
#Establish bins for ages (<10, 10-14, 15-19, 20-24, 25-29, 30-34, 35-39, 40+)
#Categorize the existing players using the age bins. Hint: use pd.cut()
#Calculate the numbers and percentages by age group

bins = [0, 9, 14, 19, 24, 29, 34, 39, 200]
bin_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

g_o_HOP_df["Total Count"] = pd.cut(g_o_HOP_df["Age"], bins, labels=bin_names)
#g_o_HOP_df


#Creating vars based on the bins
Age_Count = g_o_HOP_df["Total Count"].count()
TP_Count = g_o_HOP_df["Total Count"].value_counts()
TP_Count = TP_Count.sort_index()
#TP_Count

Pct_Players = (round((TP_Count/Age_Count)*100,2))

C:\Users\stacey.smith\AppData\Local\Continuum\anaconda3\envs\PythonDat37\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [12]:
#Summary report for Age Demographics

#Create a summary data frame to hold the results
#Optional: round the percentage column to two decimal points
#Display Age Demographics Table

Age_summary_df = pd.DataFrame ({
    "Total Count": TP_Count,
    "Percentage of Players": Pct_Players
        
})

Age_summary_df

       Total Count  Percentage of Players
<10             17                   2.95
10-14           22                   3.82
15-19          107                  18.58
20-24          258                  44.79
25-29           77                  13.37
30-34           52                   9.03
35-39           31                   5.38
40+             12                   2.08

In [13]:
#Purchasing Analysis (Age)
#
#Bin the purchase_data data frame (o_HOP_df) by age (same bins used above)
#Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below

PA_data = o_HOP_df.groupby(pd.cut(o_HOP_df["Age"], bins, labels=bin_names))


#Creating vars based on the bins
PA_Age_Count = PA_data["Age"].count() #total purchases for all ages
PA_Sum = PA_data["Price"].sum()  #sum of all purchases per age group
PA_Avg_PP = PA_Sum/PA_Age_Count
Unique_SN = PA_Sum/PA_data["Screen Name"].nunique()

In [14]:
#Summary report for Purchasing Analysis

#Create a summary data frame to hold the results
#Optional: give the displayed data cleaner formatting
#Display the summary data frame

index = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

PA_summary_df = pd.DataFrame ({
    "Purchase Count": PA_Age_Count,
    "Average Purchase Price": PA_Avg_PP,
    "Total Purchase Value": PA_Sum ,
    "Avg Total Purchase per Person": Unique_SN 
    
        
}, index=index)


#Format all the columns
PA_summary_df['Average Purchase Price'] = PA_summary_df['Average Purchase Price'].map("${:,.2f}".format)
PA_summary_df['Total Purchase Value'] = PA_summary_df['Total Purchase Value'].map("${:,.2f}".format)
PA_summary_df['Avg Total Purchase per Person'] = PA_summary_df['Avg Total Purchase per Person'].map("${:,.2f}".format)


PA_summary_df.sort_index()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19
<10,23,$3.35,$77.13,$4.54

In [15]:
#Top Spenders
#
#By Screen Name for all:  
#Purchase Count
#Avg Purchase Price
#Total Purchase Value


TS_data = o_HOP_df.groupby(['Screen Name'])

TS_Purchase = TS_data['Price'].count()
TS_Sum = TS_data['Price'].sum()
TS_Avg_PP = TS_Sum/TS_Purchase
#TS_Purchase

In [16]:
#Summary report for Top Spenders

#Create a summary data frame to hold the results
#Sort the total purchase value column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame

TS_summary_df = pd.DataFrame ({
    "Purchase Count": TS_Purchase,
    "Average Purchase Price": TS_Avg_PP,
    "Total Purchase Value": TS_Sum ,
        
})


#Format all the columns
TS_summary_df['Average Purchase Price'] = TS_summary_df['Average Purchase Price'].map("${:,.2f}".format)
TS_summary_df['Total Purchase Value'] = TS_summary_df['Total Purchase Value'].map("${:,.2f}".format)


TS_summary_df.nlargest(5, "Purchase Count")

             Purchase Count Average Purchase Price Total Purchase Value
Screen Name
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Iral74                    4                  $3.40               $13.62
Aelin32                   3                  $2.99                $8.98
Aina42                    3                  $3.07                $9.22

In [17]:
#Most Popular Items
 
#Retrieve the Item ID, Item Name, and Item Price columns
#Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value

MPI_data = o_HOP_df.groupby(['Item ID', 'Item Name'])


#MPI_ItemPrice = MPI_data['Price']

#MPI_ItemPrice.value_counts()

#purchase count, item price, and total purchase value
MPI_Purchase = MPI_data['Price'].count()
MPI_Sum = MPI_data['Price'].sum()
MPI_ItemPrice = MPI_Sum/MPI_Purchase

MPI_data.head()

,Purchase ID,Screen Name,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64
20,20,Iathenudil29,20,Male,57,"Despair, Favor of Due Diligence",4.60
21,21,Phiarithdeu40,20,Male,168,"Sun Strike, Jaws of Twisted Visions",1.48
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
23,23,Eyrian71,40,Male,151,Severance,3.40
24,24,Siala43,30,Male,141,Persuasion,3.19
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23
26,26,Lirtossa84,11,Male,71,Demise,1.61
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09
28,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16
...,...,...,...,...,...,...,...
731,731,Eudanu84,22,Female,12,Dawne,1.02
732,732,Eurithphos97,9,Male,97,"Swan Song, Gouger Of Terror",2.50
733,733,Chamiman85,20,Male,66,Victor Iron Spikes,4.40
734,734,Arin32,25,Male,165,Bone Crushing Silver Skewer,4.86
736,736,Tyialisti80,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
737,737,Marundi65,22,Male,149,"Tranquility, Razor of Black Magic",1.75
738,738,Eusur90,36,Male,121,Massacre,1.60
739,739,Mindirranya33,35,Male,61,Ragnarok,3.87
740,740,Reunasu60,22,Female,127,"Heartseeker, Reaver of Souls",3.92
742,742,Isty55,20,Male,5,Putrid Fan,4.08
744,744,Chanastst38,22,Male,94,Mourning Blade,3.49
747,747,Siarithria38,38,Other / Non-Disclosed,146,Warped Iron Scimitar,3.10
748,748,Rastynusuir31,20,Male,55,Vindictive Glass Edge,2.27
750,750,Iljask75,22,Male,167,"Malice, Legacy of the Queen",3.61
751,751,Lisjaskan36,11,Male,180,Stormcaller,3.36
752,752,Mindjasksya61,17,Male,112,Worldbreaker,2.60
754,754,Pheosurllorin41,23,Female,79,"Alpha, Oath of Zeal",4.05
755,755,Raesty92,12,Male,76,Haunted Bronzed Bludgeon,3.15
756,756,Ilast79,20,Male,73,Ritual Mace,2.05
757,757,Eratiel90,18,Male,57,"Despair, Favor of Due Diligence",4.60
758,758,Iral74,21,Male,182,Toothpick,4.03
760,760,Aithelis62,21,Male,44,Bonecarvin Battle Axe,2.38
761,761,Assim27,45,Male,17,"Lazarus, Terror of the Earth",1.70
764,764,Saedaiphos46,18,Male,113,Solitude's Reaver,4.07
765,765,Irith83,18,Male,130,Alpha,2.07
766,766,Aelastirin39,23,Male,58,"Freak's Bite, Favor of Holy Might",4.14
774,774,Jiskjask80,11,Male,101,Final Critic,4.19
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,101,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [18]:
#Summary Report for Most Popular Items

#Create a summary data frame to hold the results
#Sort the purchase count column in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the summary data frame



MPI_summary_df = pd.DataFrame ({
    "Purchase Count": MPI_Purchase,
    "Item Price": MPI_ItemPrice,
    "Total Purchase Value": MPI_Sum 
        
})



#Format all the columns
MPI_summary_df['Item Price'] = MPI_summary_df['Item Price'].map("${:,.2f}".format)
MPI_summary_df['Total Purchase Value'] = MPI_summary_df['Total Purchase Value'].map("${:,.2f}".format)



MPIdf = MPI_summary_df.sort_values(['Purchase Count', 'Item ID'], ascending=[False, False])
MPIdf.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
103,Singed Scalpel,8,$4.35,$34.80

In [19]:
#Most Profitable Items
 
#Sort the above table by total purchase value in descending order
#Optional: give the displayed data cleaner formatting
#Display a preview of the data frame


MPI_summary_df.nlargest(5, "Purchase Count")

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
145,Fiery Glass Crusader,9,$4.58,$41.22
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

In [ ]:
#--------------------END-----------------------------------