In [37]:
#Dependencies

import pandas as pd
import numpy as np
import os

In [38]:
#Open data file and create dataframe

#curdir = os.getcwd()
#print(curdir)

path = "Resources/purchase_data.csv"
HOP_df = pd.read_csv(path, encoding="ISO-8859-1")

HOP_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [39]:
#Clean up the data if needed

HOP_df.count()
HOP_df.dtypes

o_HOP_df = HOP_df.rename(columns={'SN':'Screen Name'})

#o_HOP_df['Gender'].value_counts()

#o_HOP_df = o_HOP_df.dropna(how='any')

In [59]:
#Player Count
#
#Total Number of Players ... based on the number of unique screen names

Total_Players = o_HOP_df['Screen Name'].nunique()
TP_df = pd.DataFrame({"Total Players": [Total_Players]})
TP_df

   Total Players
0            576

In [60]:
#Purchasing Analysis (Total)
#
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


Unique_Items = o_HOP_df['Item ID'].nunique()
Total_PP = round(o_HOP_df['Price'].sum(),2)
Count_PP = o_HOP_df['Price'].count()
Avg_PP = round(Total_PP/Count_PP,2)

In [61]:
#Summary report for the Purchasing Analysis

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


Purchasing_summary_df = pd.DataFrame({
    'No. of Unique Items': [Unique_Items],
    'Avg Purchase Price': [Avg_PP],
    'Total No. of Purchases': [Count_PP],
    'Total Revenue': [Total_PP]


})

Purchasing_summary_df

,No. of Unique Items,Avg Purchase Price,Total No. of Purchases,Total Revenue
0,183,3.05,780,2379.77

In [68]:
#Gender Demographics
#
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed



g_o_HOP_df = o_HOP_df.drop_duplicates(subset='Screen Name')
g_o_HOP_df.head()


Male = g_o_HOP_df.loc[g_o_HOP_df['Gender'] == 'Male']
Count_Male = Male['Item ID'].count()

Female = g_o_HOP_df.loc[g_o_HOP_df['Gender']=='Female']
Count_Female = Female['Item ID'].count()

Other =  g_o_HOP_df.loc[g_o_HOP_df['Gender']=='Other / Non-Disclosed']
Count_Other = Other['Item ID'].count()

Male_Pct = round(Count_Male/Total_Players *100,2)
Female_Pct = round(Count_Female/Total_Players *100,2)
Other_Pct = round(Count_Other/Total_Players *100,2)

In [69]:
#Summary report for Gender Demographics


index = ["Male", "Female", "Other/Non-Disclosed"]

Gender_summary_df = pd.DataFrame({"Total Count": [Count_Male, Count_Female, Count_Other], 
                            "Percentage of Players": [str(Male_Pct)+ '%', str(Female_Pct)+ '%', str(Other_Pct)+ '%']},index=index)

Gender_summary_df

                     Total Count Percentage of Players
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%

In [88]:
#Purchasing Analysis (Gender)
#
#The below each broken by gender
#
#Purchase Count ... total number of purchases (_TP)
#Average Purchase Price ... total number of purchasesn(_TP) divided by sum of all purchases (_TPrice)
#Total Purchase Value .... sum of all purchases (_TPrice)
#Average Purchase Total per Person by Gender ... sum of purchases made by unique SN per gender divided by the total number of unique SN by gender



#g_o_HOP_df.head()

Male_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Male']
Male_TP = Male_P['Purchase ID'].count()
Male_TPrice = Male_P['Price'].sum()
Male_TItem = Male_P['Item ID'].count()
Male_U_Sum = Male['Price'].sum()



Female_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Female']
Female_TP = Female_P['Purchase ID'].count
Female_TPrice = Female_P['Price'].sum()
Female_TItem = Female_P['Item ID'].count()
Female_U_Sum = Female['Price'].sum()


Other_P = o_HOP_df.loc[o_HOP_df['Gender'] == 'Other / Non-Disclosed']
Other_TP = Other_P['Purchase ID'].count
Other_TPrice = Other_P['Price'].sum()
Other_TItem = Other_P['Item ID'].count()
Other_U_Sum = Other['Price'].sum()


Male_Avg = Male_TP/Male_TPrice
AvgPTpPbG = Male_U_Sum/Count_Male
AvgPTpPbG

3.046900826446281

In [ ]:
#Summary report for Purchasing Analysis (Gender)

In [ ]:
o_HOP_df[o_HOP_df.Gender == 'Male']

In [ ]:
gendf = o_HOP_df.groupby('Gender').count()
gendf


aggtest = o_HOP_df.groupby(['Gender','Item Name']).agg({'Gender':['count']})
aggtest