In [2]:
#Dependencies

import pandas as pd
import numpy
import os

In [6]:
#Open data file and create dataframe

#curdir = os.getcwd()
#print(curdir)

path = "Resources/purchase_data.csv"
HOP_df = pd.read_csv(path, encoding="ISO-8859-1")

HOP_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [88]:
#Clean up the data if needed

HOP_df.count()
HOP_df.dtypes

#o_HOP_df = HOP_df.rename(columns={'SN':'Screen Name'})

o_HOP_df['Gender'].value_counts()

o_HOP_df = o_HOP_df.dropna(how='any')

In [90]:
#Player Count
#
#Total Number of Players

Total_Players = o_HOP_df['Screen Name'].nunique()
Total_Players

576

In [33]:
#Purchasing Analysis (Total)
#
#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue


Unique_Items = o_HOP_df['Item ID'].nunique()
Unique_Items

Total_PP = round(o_HOP_df['Price'].sum(),2)
Count_PP = o_HOP_df['Price'].count()
Avg_PP = round(Total_PP/Count_PP,2)
Avg_PP

3.05

In [35]:
#Summary report for the Purchasing Analysis


Purchasing_summary_df = pd.DataFrame({
    'No. of Unique Items': [Unique_Items],
    'Avg Purchase Price': [Avg_PP],
    'Total No. of Purchases': [Count_PP],
    'Total Revenue': [Total_PP]


})

Purchasing_summary_df

,No. of Unique Items,Avg Purchase Price,Total No. of Purchases,Total Revenue
0,183,3.05,780,2379.77

In [103]:
#Gender Demographics
#
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed



Male_df = o_HOP_df.loc[o_HOP_df['Gender'] == 'Male']
Count_Male = Male_df['Screen Name'].nunique()
Count_Male

Female_df = o_HOP_df.loc[o_HOP_df['Gender']=='Female']
Count_Female = Female_df['Screen Name'].nunique()
Count_Female

Other_df = o_HOP_df.loc[o_HOP_df['Gender']=='Other / Non-Disclosed']
Count_Other = Other_df['Screen Name'].nunique()
Count_Other

Male_Pct = round(Count_Male/Total_Players *100,2)
Male_Pct

Female_Pct = round(Count_Female/Total_Players *100,2)
Female_Pct

Other_Pct = round(Count_Other/Total_Players *100,2)
Other_Pct

1.91

In [105]:
#Summary report for Gender Demographics


Gender_summary_df = pd.DataFrame({
    'Male Players': [Count_Male],
    '% of Male Players': str(Male_Pct) + '%',
    'Female Players': [Count_Female],
    '% of Female Players': str(Female_Pct) + '%',
    'Other/Not Disclosed': [Count_Other],
    '% of Other/Not Disclosed': str(Other_Pct) + '%'


})


Gender_summary_df = Gender_summary_df.stack()
Gender_summary_df

0  Male Players                   484
   % of Male Players           84.03%
   Female Players                  81
   % of Female Players         14.06%
   Other/Not Disclosed             11
   % of Other/Not Disclosed     1.91%
dtype: object

In [115]:
raw_data = {

 'Player Count':[Count_Male, Count_Female, Count_Other],
 'Player Percentage':[Male_Pct, Female_Pct, Other_Pct]
      
}

newdf = pd.DataFrame(raw_data)
newdf

   Player Count  Player Percentage
0           484              84.03
1            81              14.06
2            11               1.91

In [87]:
#Purchasing Analysis (Gender)
#
#The below each broken by gender
#
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

652

In [ ]:
#Summary report for Purchasing Analysis (Gender)


Gender_summary_df = pd.DataFrame({
    'No. of Male Players': [Count_Male],
    '% of Male Players': str(Male_Pct) + '%',
    'No.of Female Players': [Count_Female],
    '% of Female Players': str(Female_Pct) + '%',
    'No. of Other/Not Disclosed': [Count_Other],
    '% of Other/Not Disclosed': str(Other_Pct) + '%'


})

Gender_summary_df